<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <style>
            #register {
                width: 410px;
                margin: auto;
                margin-top: 400px;
                border: 2px solid black;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <div id="register">
            Enter your username:
            <input id="username" type="text">
            <button id="submit">confirm</button>
        </div>
        <script>
            document.querySelector('#submit').onclick = function (e) {
                var username = document.querySelector('#username').value;
                window.location.replace('chat/?username=' + username);
            };
        </script>
    </body>
</html>